.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 30px;
  background: linear-gradient(90deg, #4f46e5, #6366f1);
  color: white;
  width: 100%;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .heading {
    font-size: 22px;
  }

  .task-table th,
  .task-table td {
    padding: 10px;
    font-size: 14px;
  }

  .action-btns {
    flex-direction: column;
  }

  .btn-delete,
  .btn-update {
    width: 100%;
  }
}
