body {
  background-color: #2c2557;
}
.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  background-color: #918db0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  justify-content: center;
}

label {
  font-weight: 600;
  display: block;
  color: #e0e6f1;
  margin: 8px;
  font-size: 28px;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: whitesmoke;
}

input {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 14px;
  box-sizing: border-box;
}

textarea {
  min-width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 14px;
  box-sizing: border-box;
  resize: none;
}
button {
  margin: 5px;
  width: 50%;
  padding: 10px;
  text-align: center;
  font-size: 19px;
  background-color: slategray;
  color: whitesmoke;
  border: none;
  cursor: pointer;
}
button:hover {
  background-color: rgb(84, 163, 144);
}
